<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/cookie.js" type="text/javascript"></script>
    <script>
        var socket = io();
    </script>
    <title>模式選擇頁</title>


    <script>
        $(() => {
            onlineUserArray = [];

            socket.on("connect", function(SKT) {
                console.log("Connected.");
                $("#next").attr('disabled', 'disabled');
                $("#StartQuiz").attr('disabled', 'disabled');
                setChannel();
            });

            socket.on("online", function(arg) { //上線人數
                console.log("online" + arg);
                $("#online").text("在線人數:" + arg);
            });

            socket.on("online_user", function(arg) {
                var str = "";
                console.log(arg)
                $("select[name=onlineUser] option").remove();
                arg.forEach(element => {
                    $("select[name=onlineUser]").append('<option style="font-family: \'Times New Roman\';font-size: large;">' + element + '</option>');
                    //str += element + " ";
                });
                //$("#onlineUser").text("目前在線:" + str);
            });

            socket.on("user_ready", function() { //準備好進下一題
                $("#state").text("ready");
                $("#next").removeAttr('disabled');
            });

            socket.on("return_stage_ptr", function(arg) { // 階段計數
                console.log("return_stage_ptr:" + arg);
                if (arg < 6) {
                    $("#stage").text("階段: " + (arg + 1));
                } else {
                    $("#stage").text("結束階段 已經傳送問卷網頁");
                    $("#StartQuiz").attr('disabled', 'disabled');
                }
            });


            $('#start').click(function() {
                var val = $('input[name=mode]:checked').val();
                // console.log(val);
                socket.emit('SetQuizMode', val);
                $("#start").attr('disabled', 'disabled');
                $("#next").removeAttr('disabled');
            });

            $('#next').click(function() {
                $("#next").attr('disabled', 'disabled');
                $("#StartQuiz").removeAttr('disabled');
                socket.emit('admin_next');
            });

            $('#StartQuiz').click(function() {
                $("#state").text("not ready");
                $("#StartQuiz").attr('disabled', 'disabled');
                socket.emit('admin_startquiz');
            });

            // var abc = [1, 2, 3];
            // abc.forEach(element => {
            //     $("select[name=onlineUser]").append('<option style="font-family: \'Times New Roman\';">' + element + '</option>');
            // });

        });

        function setChannel() {
            socket.emit("setChannel", getCookie("userid"));
        }
    </script>
</head>

<body style="font-family: 'DFKai-SB';">
    <h1 id="online" style="font-family: 'Times New Roman';">0</h1>
    <h1 id="state" style="font-family: 'Times New Roman';">not ready</h1>
    <h1 id="stage" style="font-family: 'Times New Roman';">階段: </h1>
    <!--"擴散1", "擴散2", "遠距1", "遠距2"-->
    <input type="radio" name="mode" value="0">甲、(擴散1單人 遠距1單人 擴散2雙人 遠距2雙人 擴散3單人 遠距3單人)<br>
    <input type="radio" name="mode" value="1">乙、(遠距2單人 擴散2單人 遠距1雙人 擴散1雙人 遠距3單人 擴散3單人)<br>
    <input type="radio" name="mode" value="2">丙、(遠距2雙人 擴散2雙人 遠距1單人 擴散1單人 遠距3單人 擴散3單人)<br>
    <input type="radio" name="mode" value="3">丁、(擴散1雙人 遠距1雙人 擴散2單人 遠距2單人 擴散3單人 遠距3單人)<br>
    <input type="radio" name="mode" value="4">戊、(擴散1單人 遠距1單人 擴散2雙人 遠距2雙人)<br>
    <input type="radio" name="mode" value="5">已、(遠距2單人 擴散2單人 遠距1雙人 擴散1雙人)<br>
    <input type="radio" name="mode" value="6">庚、(遠距2雙人 擴散2雙人 遠距1單人 擴散1單人)<br>
    <input type="radio" name="mode" value="7">辛、(擴散1雙人 遠距1雙人 擴散2單人 遠距2單人)<br>

    <button type="button" id="start" style="font-family: 'DFKai-SB';">設定題目</button>
    <button type="button" id="next" style="font-family: 'DFKai-SB';">入載下個試題</button>
    <button type="button" id="StartQuiz" style="font-family: 'DFKai-SB';">開始測驗</button>
    <!-- <h3 id="onlineUser" style="font-family: 'Times New Roman';">目前在線:</h3> -->

    <label for="onlineUser"><h3>目前在線:</h3></label>
    <select name="onlineUser" style="font-family: 'Times New Roman';" multiple>
        
    </select>
</body>

</html>