<!DOCTYPE html>
<html lang="en">

<head>
    <title>歡迎頁</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/socket.io/socket.io.js"></script>

    <script src="../js/cookie.js" type="text/javascript"></script>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body onload="startTime()" style="font-family:'DFKai-SB';">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="send-form">
                    <span class="login100-form-title p-b-26">
						<p style="font-family:'DFKai-SB'; font-size:31pt;">
							問題解決測驗平台
						</p>
					</span>
                    <!--Times New Roman
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>
					-->
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="userid">
                        <span class="focus-input100" data-placeholder="使用者帳號"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="使用者密碼"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit" style="font-family:'Times New Roman'; font-size:32pt;">
								Login
							</button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <script>
                            function startTime() {
                                var today = new Date();
                                var h = today.getHours();
                                var m = today.getMinutes();
                                var s = today.getSeconds();
                                m = checkTime(m);
                                s = checkTime(s);
                                document.getElementById('txt1').innerHTML =
                                    "現在時刻:" + h + "時" + m + "分" + s + "秒";
                                var t = setTimeout(startTime, 500);
                            }

                            function checkTime(i) {
                                if (i < 10) {
                                    i = "0" + i
                                }; // add zero in front of numbers < 10
                                return i;
                            }
                        </script>
                        <span id="txt1" style="font-size:30px;">
						</span>
                    </div>
                </form>
                <div class="text-center txt2">
                    Copyright © 2021 National Taiwan Normal University. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
    <script>
        var socket = io();
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var sendForm = document.getElementById("send-form");
            var userid = "";
            sendForm.addEventListener("submit", function(e) {
                e.preventDefault();

                var formData = {};
                var inputs = sendForm.getElementsByClassName("input100");
                for (var i = 0; i < inputs.length; i++) {
                    formData[inputs[i].name] = inputs[i].value;
                    if (inputs[i].name == "userid") {
                        userid = inputs[i].value;
                    }
                }
                console.log("check point");
                socket.emit("SignIn", formData);
            });

            socket.on("loginSucceed", function(userid) {
                console.log(userid);
                setCookie("userid", userid, 1);
                //call next step
                window.location.href = "../base.html";
            });
        });
    </script>
    <div id="dropDownSelect1">
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>